<%- include('partils/header.ejs')%>
<body>
  <%- include('partils/navbar.ejs')%>
  <section>
    <div id="principal">
      <h1>Style bootstrap</h1>
    </div>
  </section>
  <footer>
    <p id="copy">&copy; ChrigorGazal</p>
  </footer>
</body>
<%- include('partils/footer.ejs')%>

