body{
    background-color: rgb(226, 226, 226);
    color: white;
}

.card{
    color: rgb(63, 63, 63);
}

.wrapper{
    display: grid;
}

#principal{
    color: rgb(63, 63, 63);
}

#imgNode{
    margin-left: 10px;
}

#formulario-perguntas{
    margin-top: 50px;
}

#copy{
    color: white;
    margin-top: 5vh; /*Porcentagem da tela*/
    text-align: center;
}
